#index_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
/*header*/
#index_header {
  background-color: #a2c9ca;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*div contient titre header*/
#index_header_div1 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*titre header*/
#index_header_div1 h1 {
  color: white;
  font-size: 3rem;
}
/*main*/
#index_main {
  height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
/*section pour centrer form du main*/
#index_main_sec1 {
  display: flex;
  justify-content: center;
  height: 35vh;
}
#index_main_sec1_div1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#index_article1 {
  background-color: #a2c9ca;
  width: 40%;
  text-align: center;
  border-radius: 25px;
}
#index_article2 {
  background-color: #a2c9ca;
  width: 40%;
  text-align: center;
  border-radius: 25px;
}
/*formulaire inscription*/
#form_inscription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  text-align: center;
}
#form_inscription input {
  width: 60%;
  height: 10%;
  text-align: center;
  outline: none;
}
input:focus {
  border: solid 1px #a0ffff;
}
#form_inscription input[type="submit"] {
  color: gray;
  font-size: 1.8rem;
}
#legend_inscription {
  font-size: 2rem;
  font-weight: 5;
  color: white;
}

/*formulaire connexion*/
#form_connexion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  text-align: center;
}
#form_connexion input {
  width: 60%;
  height: 10%;
  text-align: center;
  outline: none;
}
input:focus {
  border: solid 1px #a0ffff;
}
#form_connexion input[type="submit"] {
  color: gray;
  font-size: 1.8rem;
}
#legend_connexion {
  font-size: 2rem;
  font-weight: 5;
  color: white;
}

/*footer*/
#index_footer {
  background-color: #a2c9ca;
  height: 5vh;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
/*footer*/
#index_footer {
  background-color: #a2c9ca;
  height: 5vh;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}


/*Page todolist*/
#tdl_header{
  background-color: #a2c9ca;
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
#header_but{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

#art2, #art3{
  background-color: #c2dbdb;
  height: 60vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#art1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tdl_section{
  display: flex;
  justify-content: space-around;
}
.form_ajouter legend{
  font-size: 2rem;
}
.form_ajouter{
  border-radius: 15px;
  background-color: #a2c9ca;
  width: 20vw;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}
.form_ajouter input[type="submit"]{
  width: 30%;
  height: 10%;
}
input{
  text-align: center;
  border: none;
  outline: none;
}
textarea{
  border: none;
  outline: none;
}
input:focus{
  border: solid 1px cadetblue;
}
textarea:focus{
    border: solid 1px cadetblue;
}
.titre_list{
  display: flex;
  justify-content: center;

}
.h1titre{
  font-size: 1.6rem;
  color: white;
}
.div_list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  border-radius: 15px;
  height: 15vh;
}
.div_list_1{
  width: 40%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  overflow: auto;
  font-size: 1.3rem;
  background-color: rgba(149, 185, 186, 0.54);
}
.titre_list2{
  text-align: center;
  color: white;
  font-size: 1.6rem;
  height: 40%;
}
.description_list{
  height: 50%;
  overflow: auto;
  display: flex;
  justify-content: center;
  color: white;
}
.div_list_2{
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
}
.div_list_3{
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.div_list_3 button{
  border: none;
  font-size: 1.4rem;
  background-color: rgba(67, 113, 114, 0.31);
  border-radius: 15px;
  color: white;
}
.div_list_3 button:hover{
  background-color: #a2c9ca;
}
